.plan-wrapper-super {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.plan-cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.add-plan-button {
  align-self: flex-end;
  background: none;
  border: none;
  border-radius: 0.25rem;
  padding: 0.3em 1em 0.3em 1em;
  margin-right: 1em;
}

.submit-add-plan {
  background: green;
  border: none;
  border-radius: 0.25rem;
  padding: 0.3em 1em 0.3em 1em;
}

.view-all-plans-button {
  border: none;
  background: none;
}

.single-date-input {
  margin: 0.8em 0;
}
