/* ============================= */
/* =       NAVBAR STYLING      = */
/* ============================= */

.custom-nav {
  background: #202530;
  padding-top: 1.5em !important;
  padding-bottom: 1.5em !important;
  font-family: "Assistant", sans-serif !important;
}

.container-mobile {
  display: flex;
  flex-direction: row;
}

.navbar-toggler {
  border-color: transparent !important;
}

.navbar-container {
  display: flex;
  justify-content: center;
}

.loggedinLogo {
  display: flex;
}

.custom-navbar-items {
  /* font-family: 'Klee One', cursive; */
  font-weight: bold;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.custom-navlink-text {
  font-size: 1em;
  display: block;
  text-decoration: none;
  text-align: center;
}

.custom-navlink-text .navbar-content {
  margin: 0px 10px;
  padding: 10px 10px;
  position: relative;
  z-index: 0;
}

.custom-navlink-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.custom-navlink-list .navbar-content:before,
.custom-navlink-list .navbar-content:after {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 2px;
  background: #fff;
  content: "";
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.custom-navlink-list .navbar-content:before {
  top: 0px;
  transform: translateY(10px);
}
.custom-navlink-list .navbar-content:after {
  bottom: 0px;
  transform: translateY(-10px);
}
.custom-navlink-list .navbar-content:hover:before,
.custom-navlink-list .navbar-content:hover:after {
  opacity: 1;
  transform: translateY(0px);
}

.custom-navlink-text:hover {
  text-decoration: none;
}

.navbar-welcome {
  align-self: center !important;
  color: white;
}

.example1-dropdown-menu {
  display: flex;
  flex-direction: column;
  top: 28px;
  right: 0;
  padding: 8px 0px;
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0px 0px 5px #c3c5c7;
}

.example1-dropdown-menu-enter {
  opacity: 0;
}

.example1-dropdown-menu-enter-active {
  opacity: 1;
  transition: 0.2s ease-in;
}

.example1-dropdown-menu-exit {
  opacity: 1;
}

.example1-dropdown-menu-exit-active {
  opacity: 0;
  transition: 0.2s ease-in;
}

.example1-dropdown-menu-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 26px;
  font-size: 12px;
  color: #333537;
}

.example1-dropdown-menu-item:hover {
  background-color: #f3f5f7;
}

.example1-dropdown-menu-item__spacer {
  width: 6px;
}

.example1-dropdown-menu-item__text {
  padding: 0px 2px;
}

@media screen and (max-width: 576px) {
  .container-mobile {
    display: flex;
    flex-direction: column;
  }

  .custom-navlink-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .navbar-container {
    display: flex;
    justify-content: center;
  }

  .custom-navbar-items {
    /* font-family: 'Klee One', cursive; */
    font-weight: bold;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
