.viewTripsMain {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.viewTripsHeaderBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.viewTripsHeader {
    color:#dfd9d9;
    margin-left: 10px;
    margin-right: 20px;
}

.viewTripsBackgroundImg {
    width: 110px;
    height: 110x;
}

.earthImg {
    width: 90px;
    height: 90x;
}

.viewTripsCardContainer {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px 0px;
    justify-content: space-evenly;
}

.viewTripPageCreateBtn {
    background-color: rgb(230, 184, 34) !important;
    color:#4d5e85 !important;
    font-weight: bolder !important;
}