.contact-main {
  background-color: #202530;
  color: #c2bcbc;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 2em;
  margin-bottom: 2em;
}