.contact-main {
  background: #dedede;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 3em;
  margin-bottom: 3em;
}
