.overview-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overview-header {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.date-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.date-item {
  font-size: 1.6em;
  font-weight: 500;
}

.summary-wrapper {
  width: 100%;
}

.middle {
  margin: 10px auto;
}

.items-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  border-radius: 0.5rem;
  background: white;
  padding: 1em;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  width: fit-content;
}

.overview-item {
  display: flex;
  align-items: center;
  border-radius: 0.25rem;
  width: 100%;
  padding: 0.5em;
}

.trip-owner {
  background: gold;
}
