li {
  margin-bottom: 10px;
}

.features-main {
  background: #e8e8e8;
  height:auto;
  padding-top: 2em;
  font-family: 'Assistant', sans-serif !important;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3em;
}

.featuresLogo {
  margin: 25px 0px;
  width: 100px;
  height: 100px;
}

.features-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 1em;
}

.features-header h1{
  font-weight: bolder !important;
}

.features-content {
  width: 100%;
  padding: 0px 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  margin-top: 2em;
  /* padding-right: 2em;
  padding-left: 2em; */
}

.features-card {
  margin: 40px 0 40px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.features-subheader {
  font-size: 2em;
  font-family: 'Assistant', sans-serif !important;
  font-weight: 600;
}

.features-1-img, .features-2-img {
  width:500px;
  height:400px;
  border-radius: 30px !important;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  box-shadow: 10px 10px 5px #ccc;
}

.features-2-img-mobile {
  display: none;
}

.features-card-main {
  margin: 0 40px 0 0;
  width: 500px;
  display: flex;
  flex-direction: column;
}

.features-card-number {
  display: flex;
  flex-direction: column;
}

.features-card-list {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.featuresListStyle {
  font-family: 'Assistant', sans-serif !important;
  font-weight: 500;
}

.spanCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin: 0 20px 0 0;
}

.dot {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: black;
}

#main2List {
  align-self: flex-end !important;
}

.split {
  display: flex;
  background: salmon;
}

#main1 {
  padding-left: 40px;
}

#main2Subtitle {
  align-self: flex-end !important;
  padding-right: 20px;
  font-size: 2em;
  font-family: 'Assistant', sans-serif !important;
  font-weight: 600;
}

#span1 {
  background-color: rgb(106, 167, 162);
}

#span2 {
  align-self: flex-end;
  background-color: rgb(71, 110, 158);
}

#rtlList {
  direction: rtl;
}

@media screen and (max-width: 576px) {
  .features-main {
    padding-bottom: 1em;
  }

  .featuresLogo {
    width: 80px;
    height: 80px;
  }

  .features-header {
    margin-top: 2em;
  }

  .features-card {
    margin: 10px 0px;
    flex-direction: column;
    align-items: center;
  }

  .features-1-img, .features-2-img-mobile{
    display: block;
    width:300px;
    height:300px;
    border-radius: 30px !important;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    box-shadow: 10px 10px 5px #ccc;
  }

  .features-2-img {
    display: none;
  }

  .features-card-number {
    align-items: center;
    text-align:center;
  }

  .spanCircle {
    margin: 0px;
  }

  .features-card-main {
    margin:50px;
    width: 300px;
  }

  #main1 {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  #main2Subtitle {
    align-self: center !important;
    padding-right: 0px;
  }

  #main2List {
    align-self: flex-end !important;
  }
  
  #span2 {
    align-self: center;
    background-color: rgb(71, 110, 158);
  }
  
  #rtlList {
    direction: ltr;
  }
}