.recommendation-main {
    background: #c2bcbc;
    color: #4d5e85;
    height:auto;
    padding-top: 2em;
    font-family: 'Assistant', sans-serif !important;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3em;
  }

  .globeLogo {
    margin: 25px 0px;
    width: 80px;
    height: 80px;
  }
  
  .recommendation-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  
    margin-top: 2em;
  }

  .recommendation-header-main {
    font-weight: bolder !important;
  }

  .recommendation-header-mobile {
    display:none;
    color: #4d5e85;
    font-weight: bold !important;
  }

  .img-box {
    width: 60% !important;
    height: 350px;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none !important;
  }
  
  .child {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
  }
  
  .img-box:hover .child, .img-box:focus .child {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  
  .img-box:hover .child:before, .img-box:focus .child:before {
    display: block;
  }
  
  .img-box:hover h5, .img-box:focus h5 {
    display: block;
  }
  
  .child:before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .child h3 {
    color: white;
    font-weight: bold;
  }
  
  .child h5 {
    display: none;
    color: #ffffff !important;
    font-family: sans-serif;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 100px;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    cursor: pointer;
  }

  .recCityName {
    text-shadow: 2px 2px black !important;
  }

  .recCityFamous {
    text-shadow: 2px 2px black !important;
  }

  .img1 {
    width:100%;
    height:100%;
    background-image: url(https://images.unsplash.com/photo-1597552861784-d9c01e07870a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDd8fHNlb3VsfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);
    background-size: 800px 100%;
    background-position: center;
  }

  .img2 {
    width:100%;
    height:100%;
    background-image: url(https://images.unsplash.com/photo-1509299349698-dd22323b5963?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80);
    background-size: 800px 100%;
    background-position: center;
  }

  .img3 {
    width:100%;
    height:100%;
    background-image: url(https://images.unsplash.com/photo-1500380804539-4e1e8c1e7118?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8YmlnYmVufGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);
    background-size: 800px 100%;
    background-position: center;
  }
  
  .img4 {
    width:100%;
    height:100%;
    background-image: url(https://images.unsplash.com/photo-1506374322094-6021fc3926f1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2606&q=80);
    background-size: 800px 100%;
    background-position: center;
  }

  .img5 {
    width:100%;
    height:100%;
    background-image: url(https://images.unsplash.com/photo-1503177119275-0aa32b3a9368?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80);
    background-size: 800px 100%;
    background-position: center;
  }

  @media screen and (max-width: 576px) {

    .globeLogo {
      width: 80px;
      height: 80px;
    }

    .recommendation-header-main {
      display: none;
    }

    .recommendation-header-mobile {
      display: block;
    }

    .img-box {
      width: 80% !important;
      height: 250px;
      overflow: hidden;
      cursor: pointer;
      text-decoration: none !important;
    }

    .img1 {
    width:100%;
    height:100%;
    background-image: url(https://images.unsplash.com/photo-1597552861784-d9c01e07870a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDd8fHNlb3VsfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);
    background-size: cover;
    background-position: center;
  }

  .img2 {
    width:100%;
    height:100%;
    background-image: url(https://images.unsplash.com/photo-1509299349698-dd22323b5963?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80);
    background-size: cover;
    background-position: center;
  }

  .img3 {
    width:100%;
    height:100%;
    background-image: url(https://images.unsplash.com/photo-1500380804539-4e1e8c1e7118?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8YmlnYmVufGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);
    background-size: cover;
    background-position: center;
  }
  
  .img4 {
    width:100%;
    height:100%;
    background-image: url(https://images.unsplash.com/photo-1506374322094-6021fc3926f1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2606&q=80);
    background-size: cover;
    background-position: center;
  }

  .img5 {
    width:100%;
    height:100%;
    background-image: url(https://images.unsplash.com/photo-1503177119275-0aa32b3a9368?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80);
    background-size: cover;
    background-position: center;
  }
  }