.loginModalHeader {
    height: 200px;
    background-image: url(https://images.unsplash.com/photo-1602190276434-4cd5500bc6fb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2572&q=80);
    background-size: cover;
    background-position: top;
    color: rgb(71, 110, 158);
}

.loginModalBody {
    background-color: #f5f5f5;
    /* background-color: #202530; */
}

.loginModalFooter {
    /* background-color: #f5f5f5; */
    background-color: #2c3955;
}

.loginModalBtn {
    background-color: rgb(71, 110, 158) !important;
    border-style: hidden !important;
    border-radius: 100px !important;
}

.loginBtnIcon {
    margin-right: 5px !important;
}


.loginModalCancelBtn {
    background-color: rgb(106, 167, 162) !important;
    border-style: hidden !important;
    border-radius: 100px !important;
}